/********* VARIABLES *********/
/*General*/
/*controls the max-width allocated to media queries*/
/*adjusts the height of the header and the padding-top inside the header-bar so it clears the fixed nav bar*/
/*Color Palette*/
/*medium blue*/
/*light grey*/
/********* MIXINS ************/
/********* GENERAL STYLING *********/
* {
  /*border: red solid 1px;*/
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: grey;
  background-image: url("img/light.jpeg");
  /* background example #2 url("img/VR1.jpg");*/
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Raleway', sans-serif; }

/********* HEADER *********/
.desk-nav-bar {
  background: black;
  border-bottom: solid 3px #087ca7;
  color: white;
  width: 100%;
  height: 90px;
  clear: both;
  position: fixed;
  /*ADD THIS WHEN YOU DO THE MIXIN*/
  -webkit-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75); }
  .desk-nav-bar nav {
    padding: 0; }
    .desk-nav-bar nav .logo {
      height: 90px;
      float: left; }
      @media screen and (max-width: 840px) {
        .desk-nav-bar nav .logo {
          width: 80%; } }
      .desk-nav-bar nav .logo a {
        text-decoration: none;
        color: white; }
        .desk-nav-bar nav .logo a .logo-text {
          display: inline-block; }
          .desk-nav-bar nav .logo a .logo-text p {
            padding: 30px 0px 30px 30px;
            margin: 0;
            font-size: 30px; }
            @media screen and (max-width: 980px) {
              .desk-nav-bar nav .logo a .logo-text p {
                font-size: 20px;
                padding: 37px 0px 37px 20px;
                -webkit-transition: font-size 0.3s, padding 0.3s ease;
                -moz-transition: font-size 0.3s, padding 0.3s ease;
                -ms-transition: font-size 0.3s, padding 0.3s ease;
                -o-transition: font-size 0.3s, padding 0.3s ease;
                transition: font-size 0.3s, padding 0.3s ease; } }
    .desk-nav-bar nav .menu-open {
      width: 20%;
      max-width: 85px;
      height: 90px;
      float: right; }
      @media screen and (min-width: 840px) {
        .desk-nav-bar nav .menu-open {
          display: none; } }
      .desk-nav-bar nav .menu-open img {
        margin: 32px 10px;
        width: 100%;
        max-width: 35px; }
    .desk-nav-bar nav .mob-drop-menu {
      display: none;
      clear: both;
      background: #586f7c;
      padding: 20px;
      -webkit-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.75); }
      @media screen and (min-width: 840px) {
        .desk-nav-bar nav .mob-drop-menu {
          display: none; } }
      .desk-nav-bar nav .mob-drop-menu .mob-nav-links a {
        display: block;
        text-decoration: none;
        text-align: left;
        color: white;
        padding: 20px;
        margin: 0 auto; }
      .desk-nav-bar nav .mob-drop-menu .mob-nav-links a:nth-child(n+2) {
        border-top: 1px solid #f4f4f9; }
      .desk-nav-bar nav .mob-drop-menu .portfolio-drop {
        display: none;
        background: #087ca7;
        padding-left: 20px; }
        .desk-nav-bar nav .mob-drop-menu .portfolio-drop a:nth-child(n+2) {
          border-top: 1px solid #f4f4f9; }
      @media screen and (min-width: 840px) {
        .desk-nav-bar nav .mob-drop-menu {
          display: none; } }
    .desk-nav-bar nav .nav-links {
      margin: 0 auto;
      margin-top: 30px;
      margin-right: 30px;
      float: right; }
      .flexbox .desk-nav-bar nav .nav-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; }
        @media screen and (max-width: 840px) {
          .flexbox .desk-nav-bar nav .nav-links {
            display: none; } }
      .desk-nav-bar nav .nav-links a,
      .desk-nav-bar nav .nav-links p {
        margin-left: 10px;
        padding: 10px 5px;
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
        .desk-nav-bar nav .nav-links a:hover,
        .desk-nav-bar nav .nav-links p:hover {
          color: #087ca7; }
        .desk-nav-bar nav .nav-links a .selected,
        .desk-nav-bar nav .nav-links p .selected {
          border: 1px solid yellow;
          color: #087ca7; }
      @media screen and (max-width: 840px) {
        .desk-nav-bar nav .nav-links {
          display: none; } }
    .desk-nav-bar nav .desk-portfolio-drop {
      display: none;
      background: #087ca7;
      position: absolute;
      top: 90px;
      right: 0px;
      width: 30%;
      max-width: 225px;
      padding: 0px 10px; }
      @media screen and (max-width: 840px) {
        .desk-nav-bar nav .desk-portfolio-drop {
          display: none; } }
      .desk-nav-bar nav .desk-portfolio-drop a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px 5px 10px 5px; }
      .desk-nav-bar nav .desk-portfolio-drop a:nth-child(n+2) {
        border-top: 1px solid #f4f4f9; }

.header-bar {
  padding-top: 90px;
  clear: both;
  /*stops elements from stretching too wide on large screens*/
  max-width: 1024px;
  margin: 0 auto;
  min-height: 800px; }
  .header-bar .header-box {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 60%;
    min-height: 800px;
    padding: 80px 50px 80px 50px;
    /*standard contact button*/ }
    .header-bar .header-box img {
      width: 150px;
      padding: 30px 0px; }
    @media screen and (max-width: 840px) {
      .header-bar .header-box {
        /*stops elements from stretching too wide on large screens*/
        max-width: 1024px;
        margin: 0 auto;
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 40px 20px; } }

/*********HOME PAGE************/
/**************SKILLS BOX*/
.headline {
  width: 100%;
  background: yellow;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #087ca7; }
  .headline h1 {
    color: white;
    text-align: center;
    margin: 0; }

.skills-box {
  background: #087ca7;
  width: 100%; }
  .skills-box .skills-wrapper {
    width: 90%;
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 40px;
    /*if browser doesn't support flexbox*/ }
    @media screen and (max-width: 840px) {
      .skills-box .skills-wrapper {
        padding: 0px;
        width: 60%;
        max-width: 270px; } }
    .skills-box .skills-wrapper .skill {
      width: 31%;
      max-width: 270px;
      display: inline-block;
      padding-top: 30px;
      padding-bottom: 30px;
      color: white; }
      .skills-box .skills-wrapper .skill:nth-child(1) {
        margin-left: 3%; }
      .skills-box .skills-wrapper .skill .skill-image {
        margin: 0 auto;
        padding: 0px 30%; }
        .skills-box .skills-wrapper .skill .skill-image img {
          width: 100%;
          max-width: 150px; }
      .skills-box .skills-wrapper .skill h2,
      .skills-box .skills-wrapper .skill p {
        text-align: center; }
      @media screen and (max-width: 840px) {
        .skills-box .skills-wrapper .skill {
          width: 100%;
          display: block;
          margin: 0 auto; }
          .skills-box .skills-wrapper .skill .skill-image {
            margin: 0 auto; }
          .skills-box .skills-wrapper .skill h2,
          .skills-box .skills-wrapper .skill p {
            max-width: 270px;
            margin: 0 auto; } }
    .flexbox .skills-box .skills-wrapper {
      display: flex;
      justify-content: space-between; }
      .flexbox .skills-box .skills-wrapper .skill {
        margin-left: 0; }
      @media screen and (max-width: 840px) {
        .flexbox .skills-box .skills-wrapper {
          display: block;
          margin: 0 auto; } }

/**************INFO BAR*/
.info-bar {
  background: #f4f4f9; }
  .info-bar .info-wrap {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto; }
    .info-bar .info-wrap .info-box {
      padding: 40px;
      padding-top: 80px;
      width: 100%;
      display: inline-block;
      background: #f4f4f9;
      /*standard contact button*/ }
      .info-bar .info-wrap .info-box img {
        width: 150px;
        padding: 30px 0px; }
      .info-bar .info-wrap .info-box .demo-img {
        width: 100%;
        height: 350px;
        background: url("img/VR1.jpg");
        background-size: cover;
        background-position: bottom center; }
      .info-bar .info-wrap .info-box h1 {
        padding: 30px 30px 10px 30px; }
      .info-bar .info-wrap .info-box p {
        padding: 10px 30px 5px 30px; }
      .info-bar .info-wrap .info-box .button {
        margin: 0px 30px; }
    .info-bar .info-wrap .img-bar .img-wrapper {
      /*stops elements from stretching too wide on large screens*/
      max-width: 1024px;
      margin: 0 auto; }
      .info-bar .info-wrap .img-bar .img-wrapper .img-bar-box {
        width: 33.333%;
        display: inline-block;
        float: left; }
        .info-bar .info-wrap .img-bar .img-wrapper .img-bar-box img {
          width: 100%; }

/**************IMG BAR*/
/*
.img-bar {
	width: 100%;
	background: $primary2;

	.img-wrapper {
		@include mwidths;
		@media screen and (max-width: $media-mob) {
			display: none;
			}

		.img-bar-box {
			width: 33.333%;
			display: inline-block;
			float: left;
			@media screen and (max-width: $media-mob) {
				width: 100%;
				float: none;
				display: block;
				}

			img {
				width:100%;
			}
		}

	}
	
} */
/**************CONTACT BAR*/
.contact-bar {
  /*stops elements from stretching too wide on large screens*/
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
  height: 250px;
  padding-top: 70px;
  background-color: rgba(0, 0, 0, 0.4); }
  .contact-bar .contact-button {
    color: white;
    text-align: center;
    margin: 0 auto; }
    .contact-bar .contact-button .button {
      /*large contact button*/
      margin-bottom: 20px; }
      .contact-bar .contact-button .button img {
        width: 250px;
        padding: 30px 0px; }

/********* ABOUT PAGE *********/
/**********************HEADER**/
.about-header {
  /*Creates a full width header bar, background not set */
  height: 400px;
  margin: 0;
  width: 100%;
  background: #087ca7 url("img/VR1.jpg");
  background-size: cover;
  background-position: center; }

/*********************CONTENT**/
.about-wrapper {
  margin: 0;
  width: 100%;
  padding: 40px;
  background: #f4f4f9; }
  .about-wrapper .about-box {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px; }

/********* SIMULATIONS PAGE *********/
/**********************HEADER**/
.sim-header {
  /*Creates a full width header bar, background not set */
  height: 400px;
  margin: 0;
  width: 100%;
  background: #087ca7 url("img/VR1.jpg");
  background-size: cover;
  background-position: center; }

/*********************CONTENT**/
.row-1 {
  /*creates a full width text row*/ }
  .row-1 .text-wrapper {
    margin: 0;
    width: 100%;
    padding: 40px;
    background: #f4f4f9; }
    .row-1 .text-wrapper .text-box {
      /*stops elements from stretching too wide on large screens*/
      max-width: 1024px;
      margin: 0 auto;
      padding: 40px; }

.row-2 {
  width: 100%;
  background: #087ca7; }
  .row-2 .row-2-wrapper {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .row-2 .row-2-wrapper .img-box {
      width: 30%;
      border: 1px solid red; }
    .row-2 .row-2-wrapper .text-box {
      width: 70%;
      padding: 40px;
      color: white; }

.row-3 {
  /*creates a full width text row*/ }
  .row-3 .text-wrapper {
    margin: 0;
    width: 100%;
    padding: 40px;
    background: #f4f4f9; }
    .row-3 .text-wrapper .text-box {
      /*stops elements from stretching too wide on large screens*/
      max-width: 1024px;
      margin: 0 auto;
      padding: 40px; }

/********* CONTACT PAGE *********/
/*********************CONTENT**/
.contact-wrapper {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  padding-top: 100px;
  background: #f4f4f9; }
  @media screen and (max-width: 840px) {
    .contact-wrapper {
      padding: 0px;
      padding-top: 80px; } }
  .contact-wrapper .contact-box {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 100px; }
    .contact-wrapper .contact-box .contact-img {
      float: left;
      margin: 30px 40px 40px 0px;
      max-width: 206px; }
      @media screen and (max-width: 660px) {
        .contact-wrapper .contact-box .contact-img {
          float: none;
          margin: 0 auto;
          padding-bottom: 30px; } }
    .contact-wrapper .contact-box .contact-email img {
      width: 30px;
      display: inline-block; }
    .contact-wrapper .contact-box .contact-email p {
      display: inline-block;
      padding-left: 15px; }
    .contact-wrapper .contact-box .contact-phone img {
      width: 30px;
      display: inline-block; }
    .contact-wrapper .contact-box .contact-phone p {
      display: inline-block;
      padding-left: 15px; }

/********* PUBLICATIONS PAGE *********/
/*********************CONTENT**/
.pub-header {
  /*Creates a full width header bar, background not set */
  height: 400px;
  margin: 0;
  width: 100%;
  background: #087ca7 url("img/VR1.jpg");
  background-size: cover;
  background-position: center; }

.pub-wrapper {
  margin: 0;
  width: 100%;
  padding: 40px;
  background: #f4f4f9; }
  .pub-wrapper .pub-box {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px; }
    .pub-wrapper .pub-box ul li {
      padding: 15px 0px; }

/********* CASE STUDIES PAGE *********/
/*********************CONTENT**/
.case-wrapper {
  margin: 0;
  width: 100%;
  padding: 40px;
  background: #f4f4f9; }
  .case-wrapper .case-box {
    /*stops elements from stretching too wide on large screens*/
    max-width: 1024px;
    margin: 0 auto;
    padding: 80px; }
    @media screen and (max-width: 840px) {
      .case-wrapper .case-box {
        padding: 0px;
        padding-top: 80px; } }
    .case-wrapper .case-box .space {
      padding-top: 40px; }
    .case-wrapper .case-box .figure {
      width: 50%;
      float: left;
      display: inline-block;
      text-align: center; }
      @media screen and (max-width: 1132px) {
        .case-wrapper .case-box .figure {
          float: none;
          display: block;
          margin: 0 auto;
          width: 70%; } }
      @media screen and (max-width: 840px) {
        .case-wrapper .case-box .figure {
          width: 100%; } }
      .case-wrapper .case-box .figure img {
        width: 100%;
        padding: 10px; }
    .case-wrapper .case-box .fig3 img {
      max-width: 350px; }
    .case-wrapper .case-box .fig4 img {
      width: auto;
      max-height: 263px; }

/********* FOOTER *********/
footer {
  clear: both;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 840px) {
    footer {
      display: block;
      text-align: center; } }
  footer .signature a {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=main.css.map */
